{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Weather Map{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <style>
    #map {
      height: 100%;
      width: 100%;
    }

    main {
      padding: 0 !important;
      margin: 0 !important;
    }
  </style>
  <style>
.leaflet-control-layers {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
}

.leaflet-control-layers label {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}

.leaflet-control-layers input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
</style>

{% endblock %}

{% block content %}
  <div id="map"></div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="{% static 'mainapp/js/weathermap.js' %}"></script>
{% endblock %}
